<!DOCTYPE html>
<html>
<head>
    <title>Giriş Formu</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
        }

        .container {
            width: 400px;
            margin: 0 auto;
            margin-top: 100px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

            .form-group label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .form-group input {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

        .show-password-label {
            display: flex;
            align-items: center;
            margin-top: 8px;
        }

            .show-password-label input[type="checkbox"] {
                margin-right: 5px;
                width: auto;
                height: auto;
            }

        .form-group input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }
    </style>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("password");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>
</head>
<body>
    <h1>Credit Login / Register Form</h1>
    <div class="main-agileits">
        @model KullaniciModel
        <div class="form-w3-agile">
            <h2>Credit login form</h2>
            <form asp-action="Profil" method="post">
                <div class="form-sub-w3">
                    <input type="text" name="Username" placeholder="Customer number or username " required="" />
                    <div class="icon-w3">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="form-sub-w3">
                    <input type="password" name="Password" placeholder="Password" required="" />
                    <div class="icon-w3">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="p-bottom-w3ls">Yeni Kullanıcı mızınız?<a class="w3_play_icon1" href="Register"> Şimdi Kayıt Ol</a></p>


                <div class="submit-w3l">
                    <input type="submit" value="Griş Yap">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
