@{
    ViewData["Title"] = "İletişim Adresleri";
}
<h1>@ViewData["Title"]</h1>
<p><i class="fab fa-instagram pr-2"></i> <a href="http://www.instagram.com/goldendaisy.beauty" style="text-decoration: none;">Golden Daiys Beauty</a>  </p>