<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<body>
	<!-- banner -->
	<div id="home" class="w3ls-banner ">
		<div class="banner-agileinfo">
			<!-- header -->
			
			<!-- //header -->
			<!-- top-nav -->
			
			<!-- //top-nav -->
			<!-- banner-text -->
			<div class="banner-w3ltext">
				<div class="container">
					<img src="~/img/logo.png" />
					<a href="index"></a>
				</div>
			</div>
			<!-- //banner-text -->
		</div>
	</div>
	<!-- //banner -->
	<!-- about -->
	<div class="about">
		<div class="container">
			<div class="w3layouts_about_grids">
				<div class="col-md-5 w3layouts_about_grid_left">
					<div class="w3layouts_about_grid_left_pos">
						<img src="~/img/img1.jpg" alt=" " class="img-responsive">
					</div>
				</div>
				<div class="col-md-7 w3layouts_about_grid_right">
					<h4>Hoşgeldiniz</h4>
					<h5>Güzellik İçin</h5>
					<p>
						Güzellik için bize gelin
						</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- services -->
	<div class="services">
		<div class="container">
			<h3 class="agileits-title">Services</h3>
			<div class="wthree-services-row">
				<div class="col-sm-6 col-xs-6 services-w3grid">
					<div class="col-xs-3 services-w3grid-left">
						<img src="~/img/makeup-pouch.png" alt="İkon" class="icon">
					</div>
					<div class="col-xs-9 services-w3grid-right">
						<h4>Makyaj</h4>
						<p>
							Itaque earum rerum hic tenetur a sapiente delectus
							reiciendis maiores.
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-sm-6 col-xs-6 services-w3grid">
					<div class="col-xs-3 services-w3grid-left">
						<img src="~/img/slim-body.png" alt="İkon" class="icon">
					</div>
					<div class="col-xs-9 services-w3grid-right">
						<h4>Zayıflama</h4>
						<p>
							Itaque earum rerum hic tenetur a sapiente delectus
							reiciendis maiores.
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-sm-6 col-xs-6 services-w3grid services-w3grid-bottom">
					<div class="col-xs-3 services-w3grid-left">
						<img src="~/img/hair-removal.png" alt="İkon" class="icon">
					</div>
					<div class="col-xs-9 services-w3grid-right">
						<h4>Tüy Alımı</h4>
						<p>
							Itaque earum rerum hic tenetur a sapiente delectus
							reiciendis maiores.
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-sm-6 col-xs-6 services-w3grid services-w3grid-bottom">
					<div class="col-xs-3 services-w3grid-left">
						<img src="~/img/eyebrow.png" alt="İkon" class="icon">
					</div>
					<div class="col-xs-9 services-w3grid-right">
						<h4>Kirpik </h4>
						<p>
							Itaque earum rerum hic tenetur a sapiente delectus
							reiciendis maiores.
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->
	<!-- news -->
	<div class="news">
		<div class="container">
			<h3 class="agileits-title">Latest News</h3>
			<div class="news-wthreegrid">
				<div class="news-grid-left">
					<div class="col-md-3 col-xs-3 date-w3grid">
						<div class="date">
							<p>17</p>
							<span>Temmuz</span>
						</div>
					</div>
					<div class="col-md-9 col-xs-9 datew3-agileinfo">
						<h5><a href="#myModal" data-toggle="modal">1 Hafta Kapalıyız</a></h5>
						<p>Proin euismod vehicula vestibulum. Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.</p>
						<a href="#myModal" class="wthree-btn w3btn2 w3btn2a" data-toggle="modal">Read more</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="news-grid-left">
					<div class="col-md-3 col-xs-3 date-w3grid">
						<div class="date">
							<p>20</p>
							<span>Haziran</span>
						</div>
					</div>
					<div class="col-md-9 col-xs-9 datew3-agileinfo">
						<h5><a href="#myModal" data-toggle="modal">Bugün Son Gün</a></h5>
						<p>Proin euismod vehicula vestibulum. Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.</p>
						<a href="#myModal" class="wthree-btn w3btn2 w3btn2a" data-toggle="modal">Read more</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //news -->
	<!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body modal-spa">
					<iframe src="https://player.vimeo.com/video/46808896?color=9488b0&title=0&byline=0&portrait=0"></iframe>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at. Donec fringilla lacus eu pretium rutrum. Cras aliquet congue ullamcorper. Etiam mattis eros eu ullamcorper volutpat. Proin ut dui a urna efficitur varius pulvinar metus neque sodales tortor ac ligula ultrices.
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at.</span>
						uisque molestie cursus mi et congue consectetur adipiscing elit cras rutrum iaculis enim, Lorem ipsum dolor sit amet, non convallis felis mattis at.
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->
	<!-- gallery -->
	<div class="gallery">
		<div class="col-sm-6 col-xs-12 gallery-wthreegrids">
			<div class="gallery-agileinfo-row">
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid">
					<a href="images/g1.jpg" class="agilefig gallery-img" data-lightbox="example-set" data-title="Duis venenatis nisl id posuere dictum. Maecenas vitae accumsan est, id imperdiet libero. Quisque sit amet felis a nisl condimentum bibendum phasellus vitae egestas diam."> </a>
				</div>
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid gallery-text">
					<h4>Hair Stylist</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit tincidunt ellus feugiat porttitor nulla magna vitae nisl </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="gallery-agileinfo-row">
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid gallery-w3lsgrid3">
					<a href="images/g3.jpg" class="agilefig gallery-img3" data-lightbox="example-set" data-title="Maecenas vitae accumsan est, id imperdiet libero. Duis venenatis nisl id posuere dictum.  Quisque sit amet felis a nisl condimentum bibendum phasellus vitae egestas diam."> </a>
				</div>
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid gallery-text3">
					<h4>Classic Haircut</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit tincidunt ellus feugiat porttitor nulla magna vitae nisl </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="col-sm-6 col-xs-12 gallery-wthreegrids">
			<div class="gallery-agileinfo-row">
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid">
					<a href="images/g2.jpg" class="agilefig gallery-img2" data-lightbox="example-set" data-title="Duis venenatis nisl id posuere dictum.  Maecenas vitae accumsan est, id imperdiet libero. Quisque sit amet felis a nisl condimentum bibendum phasellus vitae egestas diam."> </a>
				</div>
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid gallery-text">
					<h4>Hair Care</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit tincidunt ellus feugiat porttitor nulla magna vitae nisl </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="gallery-agileinfo-row">
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid gallery-w3lsgrid3">
					<a href="images/g4.jpg" class="agilefig gallery-img4" data-lightbox="example-set" data-title="Nisl id posuere dictum duis venenatis. Maecenas vitae accumsan est, id imperdiet libero. Quisque sit amet felis a nisl condimentum bibendum phasellus vitae egestas diam."> </a>
				</div>
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid gallery-text3">
					<h4>Hair Color</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit tincidunt ellus feugiat porttitor nulla magna vitae nisl </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="clearfix"> </div>
		<script src="js/lightbox-plus-jquery.min.js"></script>
	</div>
	<!-- //gallery -->
	
</body>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Coiffeur Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<!-- Custom Theme files -->
	<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<link href="css/site.css" type="text/css" rel="stylesheet" media="all">
	<link href="css/font-awesome.css" rel="stylesheet">  <!-- font-awesome icons -->
	<link rel="stylesheet" href="css/lightbox.css"> <!-- lightbox css -->
	<!-- //Custom Theme files -->
	<!-- js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Wire+One" rel="stylesheet">
	
</head>
</html>