<!DOCTYPE html>
<html>
    <body>
   
    

            <section class="bottom-banner-w3layouts">
                <div class="d-lg-flex">
            <div id="sliderContainer" class="col-lg-7 p-lg-0 text-lg-right text-center mt-lg-0 mt-4 bottom-left">
                        <!-- Fotoğraf -->
                <img class="slide-image" src="~/img/lazer-epilasyon.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-5 banner-about text-center">
                        <span class="fa fa-scissors"></span>
                        <h5 class="bottom mt-m-4 mt-3">Lazer Epilasyon</h5>
                        <p class="">
                    Lazer epilasyonda amaç, kılı üreten kök hücrelerinin fonksiyonunu bozmaktır. Melanin olarak adlandırılan, kılın yapısında bulunan siyah boya maddesi tarafından lazer ışınının emilmesi ile oluşan ani yüksek ısı enerjisi, kılı üreten kök hücrelerini hasara uğratır. Siyah kıllar, yani melanin maddesini fazlaca içeren kıllar epilasyondan daha fazla etkilenirken, gri ve beyaz kıllarda etkinlik yok denecek kadar düşük olur.
                        </p>
                    </div>
                </div>
            </section>
            <section class="bottom-banner-w3layouts">
                <div class="d-lg-flex">
                    <div class="col-lg-0 p-lg-7 text-lg-left text-center mt-lg-4 mt-0 bottom-right">
                        <span class="fa fa-scissors"></span>
                        <h5 class="bottom mt-m-4 mt-3">Heykel Traş</h5>
                        <p class="">
                    Heykeltraş zayıflama yöntemi, bölgesel incelme için ultrasonic dalgaları kullanır. Bu çalışma, yüksek frekanslı elektrik akımlarının cildin altında ısıtılmasını sağlayan bir cilt tedavi yöntemidir. Cilt sıkılaştırma ve vücut şekillendirme için oldukça etkili sonuçlar elde edilmektedir.
                        </p>

                    </div>
                    <div class="col-lg-5 banner-about text-center">
                
                <img class="slide-image" src="~/img/heykel-tıraş.jpg" class="img-fluid" alt="Hareketli Resim">
                
                    </div>
                </div>
            </section>

    <section class="bottom-banner-w3layouts">
        <div class="d-lg-flex">
            <div class="col-lg-7 p-lg-0 text-lg-right text-center mt-lg-0 mt-4 bottom-left">
                <!-- Fotoğraf -->
                <img class="slide-image" src="~/img/medikal-cilt-bakimi.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-5 banner-about text-center">
                <span class="fa fa-scissors"></span>
                <h4 class="mt-sm-4 mt-2">Medikal Cilt Bakımı</h4>
                <p class="">
                    Medikal cilt bakımı bir cilt temizleme ve bakım uygulamasıdır. Medikal cilt bakımı ile ciltteki tıkalı gözenekler temizlenir, cilt ölü hücrelerden arındırılır, cildin yağ dengesi düzenlenir ve dahası cildin nefes alması sağlanarak cildin ihtiyaç duyduğu bakım özel solüsyon ve maskelerle cilde sağlanır.
                </p>
            </div>
        </div>
    </section>

    <section class="bottom-banner-w3layouts">
        <div class="d-lg-flex">
            <div class="col-lg-0 p-lg-7 text-lg-left text-center mt-lg-4 mt-0 bottom-right">
                <span class="fa fa-scissors"></span>
                <h5 class="bottom mt-m-4 mt-3">Kalıcı Makyaj</h5>
                <p class="">
                    Kalıcı makyaj nedir sorusunun cevabı olarak; kalıcı makyaj tekniği, doğal mineral ve renklerin deri altına işlenmesidir. Mikro pigment uygulamasında tek kullanımlık iğneler kullanılarak uygulama yapılır. Deri altına enjekte edilen renkler tamamen doğal, katkısız ve kokusuz maddelerdir.

                    Kalıcı makyaj uygulaması iki şekilde yapılmaktadır:

                    Micropigmentasyon: Bu teknik kalıcı makyaj uygulamasında ilk uygulanan tekniktir. Dövme makinasına benzeyen bir cihazla yapılmaktadır. Ucunda bulunan iğneler ile seçilen renkler deri altındaki dokulara işlenmektedir.

                    Microblanding: Bu yöntemde ise cihaz yerine ucu iğneli özel bir kalem kullanılır. Bu kalem ile yine seçilen renkler bölgedeki deri altına işlenir.

                    İki yöntem de isteğe ve bölgeye bağlı olarak uygulanmaktadır.

                    Kalıcı makyaj uygulaması göz, dudak ve kaş bölgesine uygulanmaktadır.
                </p>

            </div>
            <div class="col-lg-5 banner-about text-center">

                <img class="slide-image" src="~/img/kalici-makyaj.jpg" class="img-fluid" width="100%" height="100%" alt="">
            </div>
        </div>
    </section>
    <section class="bottom-banner-w3layouts">
        <div class="d-lg-flex">
            <div class="col-lg-7 p-lg-0 text-lg-right text-center mt-lg-0 mt-4 bottom-left">
                <!-- Fotoğraf -->
                <img class="slide-image" src="~/img/ipek-kirpik.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-5 banner-about text-center">
                <span class="fa fa-scissors"></span>
                <h4 class="mt-sm-4 mt-2">İpek Kirpik</h4>
                <p class="">
                        İpek kirpik uygulaması, kişinin kendi kirpiklerinin uzunluğunu ve yoğunluğunu arttıran, göz yapısının daha estetik durmasını sağlayan bir uygulamadır. Özel olarak hazırlanmış kirpikler, kişinin üst göz kapağındaki kendi kirpiklerine tek tek, sadece kirpik için üretilen medikal yapıştırıcı ile yapıştırılır.
                        Klasik ipek kirpik sizin her bir kirpiğinize tek bir kirpik eklenmesidir. Yoğunluğu çok olmadığı için doğal / naturel kirpik diye de bilinir.
                    </p>
            </div>
        </div>
    </section>
        <section class="bottom-banner-w3layouts">
            <div class="d-lg-flex">
                <div class="col-lg-0 p-lg-7 text-lg-left text-center mt-lg-4 mt-0 bottom-right">
                    <span class="fa fa-scissors"></span>
                    <h5 class="bottom mt-m-4 mt-3">Nail Art</h5>
                    <p class="">
                    Tırnakların kişisel zevklere, dönemin trendlerine ve konseptlere göre süslenmesi işlemi olarak yanıtlanabilecek “Nail art nedir?” sorusu, özellikle son yıllarda sıkça araştırılmaktadır. Bu uygulama; uzun, sivri ve badem tırnak türleri için uygundur. Ayrıca, protez tırnaklara da profesyonel bir şekilde yapılması söz konusudur. Estetik bir görünüm için tırnak bakımı ve süslemesine özen gösterilmesi oldukça önemlidir. Bu tarz tasarımlar ile günlük hayatta ya da özel günlerde kusursuz ve tamamlanmış bir görünümün sağlanması mümkün hale gelir.
                    </p>

                </div>
                <div class="col-lg-5 banner-about text-center">

                    <img class="slide-image" src="~/img/nail-art.jpeg" class="img-fluid" width="100%" height="100%" alt="">
                </div>
            </div>
        </section>
    <section class="facts" id="facts">
        <div class="d-lg-flex">
            <div class="col-lg-7 p-lg-0 text-lg-right text-center mt-lg-0 mt-4 bottom-left">
                <!-- Fotoğraf -->
                <img class="slide-image" src="~/img/pro-makeup.jpeg" class="img-fluid" width="70%" height="70%" alt="">
            </div>
            <div class="col-lg-5 banner-about text-center">
                <span class="fa fa-scissors"></span>
                <h4 class="mt-sm-4 mt-2">Pro Makeup</h4>
                <p class="">
                    Porselen makyaj, genellikle film, tv ve sahne sanatı gösterilende kullanılan profesyonel bir makyaj çeşididir. Porselen makyaj uygulaması için kullanılan ürünler, profesyonel kullanım için özel olarak üretildiği için yine tecrübeli ve profesyonel bir ekip tarafından yapılmalıdır.
                </p>
            </div>
           
        </div>
    </section>
    <script>
        window.addEventListener('scroll', function () {
            var images = document.querySelectorAll('.slide-image');
            var windowHeight = window.innerHeight;

            for (var i = 0; i < images.length; i++) {
                var image = images[i];
                var imageTop = image.getBoundingClientRect().top;

                if (imageTop - windowHeight <= 0) {
                    image.classList.add('fade-in');
                } else {
                    image.classList.remove('fade-in');
                }
            }
        });


    </script>

    
</body>
</html>


