@{
    ViewData["Title"] = "Randuvu Sayfası.";
}
<h1>@ViewData["Title"]</h1>
<html>
<style>
    table {
        background-color: lightblue;
    }

    th {
        background-color: blue;
        color: white;
    }

    td {
        background-color: white;
    }
</style>
    <link rel="stylesheet" type="text/css" href="styles.css">


<p>Randevu için aşağıdaki formu doldurunuz.</p>
<table>
    <thead>
    <tr>
        <th>isim</th><th>soyisim</th>
    </tr>
    </thead>
</table>

</html>