@{
    ViewData["Title"] = "Randuvu Sayfası.";
}
<h1>@ViewData["Title"]</h1>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">


<p>Randevu için aşağıdaki formu doldurunuz.</p>
<form action="#" method="post">
    <div class="form-style-agile">
        <input placeholder="Adınız" name="name" type="text" required="">
        <input placeholder="Telefon Numarası" name="Telno" type="text" required="">
        <input placeholder="Adres" type="text" required="">
        <input placeholder="Randevu Saati" type="text" required="">
        <button class="book-btn btn">Randevu al</button>
    </div>
</form>
</head>
</html>