/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ijk7jz381c] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ijk7jz381c] {
  color: #000;
}

.btn-primary[b-ijk7jz381c] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ijk7jz381c], .nav-pills .show > .nav-link[b-ijk7jz381c] {
  color: #000000;
  background-color: #000000;
  border-color: #000000;
}

.border-top[b-ijk7jz381c] {
    border-top: 1px solid #FFD700;
}
.border-bottom[b-ijk7jz381c] {
    border-bottom: 1px solid #FFD700;
}

.box-shadow[b-ijk7jz381c] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ijk7jz381c] {
  font-size: 1rem;
  line-height: inherit;
}
.sidebar[b-ijk7jz381c]{
    position:absolute;
    width:100%;
}
.footer[b-ijk7jz381c] {
    display: block;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    white-space: nowrap;
    background-color: gold;
    line-height: 60px;
}

.navbar-nav li:hover[b-ijk7jz381c] {
    background-color: #f00;
}

    .navbar-nav li:hover a[b-ijk7jz381c] {
        color: #fff;
    }
.menu-container[b-ijk7jz381c] {
    position: fixed;
    top: 20px;
    right: 20px;
}

.menu[b-ijk7jz381c] {
    display:flex;
}

    .menu a[b-ijk7jz381c] {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        margin-right: 15px;
    }

        .menu a:last-child[b-ijk7jz381c] {
            margin-right: 0;
        }

        .menu a:hover[b-ijk7jz381c] {
            color: #ffcc00;
        }

.social-agile-icon[b-ijk7jz381c] {
    display: flex;
    justify-content: center;
    display:flex;
}