<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoldenDaisyBeauty</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GoldenDaisyWebUI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" width="50" height="50" alt="Ana Sayfa" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">

                            <a class="nav-link " asp-area=""  asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Randevu" asp-action="Randevu">Randevu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Hakkimizda">Hakkımızda</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Iletisim">İletişim</a>
                        </li>
                        @{
                            int dyr = 1;
                        }
                        
                        

                        @if (dyr == 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="dyr" asp-area="" asp-controller="Home" asp-route-id="123" asp-action="duyuru"> Duyuru </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link"  asp-area="" asp-controller="Home" asp-route-id="123" asp-action="duyuru">Duyuru</a>
                            </li>
                        }

                        
                        

                        @{
                            int sayi = 4; // Değişken tanımlama ve değer atama
                        }
                        @if (sayi==5)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Randevu" asp-action="adminlist">Randevu Listesi</a>
                            </li>
                        }
                        else
                        {
                            <p></p>
                        }
                        
                    </ul>
                    <ul class ="navbar-nav flex-grow-2">
                    @if (sayi == 5)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Kullanici" asp-action="profil">Profil</a>
                        </li>
                    }else

                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Kullanici" asp-action="login">Giriş Yap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Kullanici" asp-action="sign">Kayıt Ol</a>
                        </li>
                    }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-left footer text-muted">
        <div class="container-fluid">
            &copy; 2023 - GoldenDaisyBeuty - <a asp-area="" asp-controller="Home" asp-action="Hakkimizda">Privacy</a>      
            <a asp-area="" asp-controller="Home" asp-action="Randevu">Randevu</a>
            <br />
            <p>Adres</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
